@font-face {
 font-family: 'RobotoMedium';
 src: url(../../fonts/RobotoMedium.woff) format('woff'),
      url(../../fonts/RobotoMedium.woff2) format('woff2');
}
@font-face {
 font-family: 'RobotoRegular';
 src: url(../../fonts/RobotoRegular.woff) format('woff'),
      url(../../fonts/RobotoRegular.woff2) format('woff2');
}