$start: 360px;
$sm: 576px;
$compact : 690px;
$md: 768px;
$big: 850px;
$lg: 992px;
$x: 1200px;

$primaryFont: 'RobotoRegular';
$secondaryFont: 'RobotoMedium';
$primaryFontColor: #000000;
$secondaryFontColor: #666666;

$background: #ffffff;

$interactive: #316FEE;
$activeLink: #5A8CF1;
$check: #00CC33;
$bread: #999999;
$tabBackground: #F5F5F8;

$inputBackgroud: $background;

$cardBorderRadius: 16px;
